.row {
  padding: 20px;
  margin: 2%;
  border: 2px solid rgb(19, 90, 222);
  border-radius: 20px 0px 0px 20px;
}

.row2 {
  color: rgb(0, 148, 119);
  padding: 2%;
  margin: 0%;
  border: 2px solid rgb(225, 225, 225);
  border-radius: 10px 0px 0px 10px;
  align-items: center;
}

.proyectospadding {
  padding: 2%;
  align-items: center;
}

.img-fluid{
  width: 60%;
}

.colortitulo{
  color: rgb(19, 90, 222);
}