<div class="row align-items-center">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="{{persona.url_foto}}" class="img-fluid shadow-sm mb-1 p-2 rounded-start" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <span class="align-middle">
            <h4 align="center" id="nombre"><b>{{persona.nombre}} {{persona.apellido}}</b></h4>
            <h5 align="center">Full Stack Developer Jr.</h5>
        </span> 
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h5 id="mayusculas"><b>Acerca de {{persona.nombre}}</b></h5>
            <p>{{persona.sobre_mi}}</p>
        </span>
    </div>
</div>