div{
    color: rgb(19, 90, 222);
  }

.row{
    padding: 20px;
    margin: 2%;
    border: 2px solid rgb(19, 90, 222);
    border-radius: 20px 0px 0px 20px;
}

#fotodeperfil{
        position: relative;
        border-radius: 20px 0px 0px 20px;
        /* border: 2px solid rgb(19, 90, 222); */
        /* box-shadow: 3px 3px 3px grey; */
    }

#mayusculas{
  text-transform: uppercase;
}